<div>
  <h1>Star Wars Table</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Height</th>
          <th>Gender</th>
          <th>Homeworld</th>
          <th>Films</th>
          <th>Birth Year</th>
          <th>Hair Color</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let people of starWarsData.results; let i = index">
          <td>{{ people.name }}</td>
          <td>{{ people.height }}</td>
          <td>{{ people.gender }}</td>
          <td>{{ people.homeworld }}</td>
          <td>{{ people.films.length }}</td>
          <td>{{ people.birth_year }}</td>
          <td>{{ people.hair_color }}</td>
          <td>
            <a [routerLink]="['./', i + 1]" class="btn btn-primary"> View </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
