<div>
  <h1>Star Wars Table</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Height</th>
          <th>Gender</th>
          <th>Homeworld</th>
          <th>Films</th>
          <th>Birth Year</th>
          <th>Hair Color</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let product of filterable">
          <td>
            <img
              *ngIf="showImage"
              [src]="product.img"
              [style.width.px]="imageWidth"
            />
          </td>
          <td>{{ product.productName }}</td>
          <td>{{ product.code | uppercase }}</td>
          <td>{{ product.availability }}</td>
          <td>{{ product.price | currency }}</td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
